/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/libtool
/m4/
/src/.deps/
/src/.libs/
/src/Makefile
/src/Makefile.in
/src/coloredstderr.lo
/src/libcoloredstderr.la
/stamp-h1
/tests/.deps/
/tests/Makefile
/tests/Makefile.in
/tests/example
/tests/example.o
/tests/example_error
/tests/example_error.o
/tests/example_exec
/tests/example_exec.o
/tests/example_vfork
/tests/example_vfork.o
/tests/run.sh.log
/tests/run.sh.trs
/tests/test-suite.log
